# Compiled source #
###################
*.o
*.x
.*
input_files/._*

# Other #
#########
*.ipynb
output_files/*
plotting_routines/*

# un-ignore these files #
#########################
!.gitignore
!plotting_routines/flux_ratio.py
!output_files/gasprops/gasprops.md
!output_files/incident_spectra/incident_spectra.md
